<?xml version="1.0" encoding="utf-16"?>
<BlocksConfig xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <blocks>
    <Block>
      <SubtypeId>LargeBlockBed</SubtypeId>
      <RequiresPressure>true</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>LargeBlockCryoChamber</SubtypeId>
      <RequiresPressure>false</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>LargeBlockToilet</SubtypeId>
      <RequiresPressure>true</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>LargeBlockBathroom</SubtypeId>
      <RequiresPressure>true</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>LargeBlockBathroomOpen</SubtypeId>
      <RequiresPressure>true</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>LargeMedicalRoom</SubtypeId>
      <RequiresPressure>true</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>SurvivalKit</SubtypeId>
      <RequiresPressure>false</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>SurvivalKitLarge</SubtypeId>
      <RequiresPressure>false</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>Kitchen</SubtypeId>
      <RequiresPressure>true</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>CustomKitchen</SubtypeId>
      <RequiresPressure>true</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>Planters</SubtypeId>
      <RequiresPressure>false</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>ShroomFarmT2</SubtypeId>
      <RequiresPressure>false</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>Wheatfarm</SubtypeId>
      <RequiresPressure>true</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>HerbGrower</SubtypeId>
      <RequiresPressure>true</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>Applefarm</SubtypeId>
      <RequiresPressure>true</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>Soya_Farm</SubtypeId>
      <RequiresPressure>true</RequiresPressure>
    </Block>
    <Block>
      <SubtypeId>VegetableGrower</SubtypeId>
      <RequiresPressure>true</RequiresPressure>
    </Block>
  </blocks>
</BlocksConfig>